.vult-home-wrapper {
  font-family: 'Helvetica light';
  background-color: #0b0c10;
  height: 100vh;
  color: #fff;
}

.vult-header-nav {
  width: 100%;
  ul {
    display: flex;

    li a {
      color: #fff;
      display: block;
      padding: 20px 20px;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

.vult-body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;

  img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 0;
    height: 100%;
    opacity: 0.20;
  }
}

.vult-body-sub-header {
  position: relative;
  z-index: 1;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto Light';
    color: #66fcf1;
    margin: 0 0 20px;
    letter-spacing: 5px;
  }

  .sub-title {
    width: 750px;
    margin: 0 0 40px
  }

  button {
    background-color: transparent;
    border: 2px solid #66fcf1;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;;
  }
}