/* gloabl css */
:root {
  --primary-font: 'Helvetica Light';
  --primary-bold-font: 'Helvetica Medium';
  --secondary-font: 'Helvetica Medium';

  --font-black: #333;
  --font-gray: #777;
  --font-success: #35ad35;
  --font-error: #ff0000c9;

  --bg-color: #fafafa;
  --main-color: #fff;
  --secondary-color: #fafafa;

  --primary-btn: #bbb;
  --danger-btn: #ff5757;

  --primary-font-color: #666;
  --secondary-font-color: #777;




  /*----------Navbar variables----------*/
    --navbar-bg-color: #FFF;
    --navbar-font-color: #1036408a;
    --navbar-active-color: #1036408a;
  /*------------------------------------*/



  /*---------sidemenu variables---------*/
    --sidemenu-bg-color: #028476;
    --sidemenu-logo-bg-color: #028476;
    --profile-bg-color: rgba(68,68,68,.57);
    --sidemenu-font-color: #ddd;
    --sidemenu-secondary-font-color: #bbb;
    --item-font-color: #aaa;
    --item-active-color: #ddd;
  /*------------------------------------*/



  /*---------dashboard home variables---------*/

  /*------------------------------------*/
}