/* gloabl css */
:root {
  --primary-font: 'Helvetica Thin';
  --primary-bold-font: 'Helvetica Light';
  --secondary-font: 'Helvetica Light';

  --font-black: #333;
  --font-gray: #777;
  --font-success: #35ad35;
  --font-error: #ff0000c9;

  --bg-color: #fafafa;
  /*--bg-color: #fdfdfd;*/
  --main-color: #fff;
  --secondary-color: #fafafa;

  --primary-btn: #bbb;
  --danger-btn: #ff5757;

  --primary-font-color: #666;
  --secondary-font-color: #777;




  /*----------Navbar variables----------*/
    --navbar-bg-color: #FFF;
    --navbar-font-color: #1036408a;
    --navbar-active-color: #1036408a;
  /*------------------------------------*/



  /*---------sidemenu variables---------*/
    /*--sidemenu-bg-color: #028476;
    --sidemenu-logo-bg-color: #028476;
    --profile-bg-color: rgba(68,68,68,.57);
    --sidemenu-font-color: #ddd;
    --sidemenu-secondary-font-color: #bbb;
    --item-font-color: #ccc;
    --item-active-color: #fafafa;*/

    --sidemenu-bg-color: #FFF;
    --sidemenu-logo-bg-color: #fafafa;
    --profile-bg-color: #f9f9f9;
    --sidemenu-font-color: #444;
    --sidemenu-secondary-font-color: #444;
    --item-font-color: #999;
    --item-active-color: #444;
  /*------------------------------------*/



  /*---------dashboard home variables---------*/

  /*------------------------------------*/
}